.App {
  font-family: sans-serif;
  text-align: center;
}
.SelectMenu {
  font-family: sans-serif;
  text-align: center;
}

.BaseStatus {
  font-size: 0.7rem;
  background-color: #c1ffff;
  width: 370px;
  padding: 8px;
  margin: 0px;
  border-radius: 8px;
}

.td-title {
  width: 200px;
}

.td-basevalue {
  width: 10px;
  text-align: right;
}

.td-bonusvalue {
  width: 100px;
  /* overflow: hidden; */
}

.td-bonusvalue p {
  float: left;
  padding: 10px 10px;
  text-align: right;
}

/* Inputボックス ------------------------- */
.Input {
  width: 100px;
}

/*  ------------------------- */
