body {
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  width: 370px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.SelectMenu {
  font-family: sans-serif;
  text-align: center;
}

.CharacterArea {
  font-size: 0.7rem;
  background-color: #bfffff;
  width: 370px;
  padding: 8px;
  margin: 0px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.BaseStatusArea {
  font-size: 0.7rem;
  background-color: #bfffff;
  width: 370px;
  padding: 8px;
  margin: 0px;
  border-radius: 8px;
}

.td-title {
  width: 100px;
}

.td-basevalue {
  width: 10px;
  text-align: right;
}

.td-bonusvalue {
  width: 100px;
  /* overflow: hidden; */
}

.td-bonusvalue p {
  float: left;
  padding: 0px 10px;
  text-align: right;
}

/* Inputボックス ------------------------- */
.Input {
  width: 50px;
}

/*  ------------------------- */
